metrics {
  total_chars on unigram;
  pinky_off_home on unigram
    where "unigram.key.finger.kind == FingerKind::Pinky && !unigram.key.finger_home";
  effort on unigram
    value += "unigram.key.effort * count";
  column_usage on unigram
    group by "unigram.key.position.c" as "usize";
  row_usage on unigram
    group by "unigram.key.position.r" as "usize";
  finger_usage on unigram
    group by "unigram.key.finger" as "Finger";
  bigram_skips on bigram(SameFingerSkip)
    group by "units" as "u8";
  bigram_lateral_stretches on bigram(LateralStretch)
    group by "finger" as "FingerKind";
  bigram_scissors on bigram(Scissor)
    where `
      units > 1 || (units == 1 && ![
          (FingerKind::Index, FingerKind::Middle),
          (FingerKind::Index, FingerKind::Ring),
          (FingerKind::Middle, FingerKind::Ring),
          (FingerKind::Ring, FingerKind::Middle),
          (FingerKind::Ring, FingerKind::Index),
          (FingerKind::Pinky, FingerKind::Ring),
          (FingerKind::Pinky, FingerKind::Middle),
          (FingerKind::Pinky, FingerKind::Index),
      ].contains(&(lower_finger, upper_finger)))
    `
    group by "units" as "u8";
  bigram_others on bigram(Other);
  trigram_skips_same_hand on trigram(SameFingerSkip)
    where "handedness == Handedness::Same"
    group by "units" as "u8";
  trigram_skips_alternation on trigram(SameFingerSkip)
    where "handedness == Handedness::Alternate"
    group by "units" as "u8";
  trigram_scissors_same_hand on trigram(Scissor)
    where `
      handedness == Handedness::Alternate || (units > 1 || (units == 1 && ![
          (FingerKind::Index, FingerKind::Middle),
          (FingerKind::Index, FingerKind::Ring),
          (FingerKind::Middle, FingerKind::Ring),
          (FingerKind::Ring, FingerKind::Middle),
          (FingerKind::Ring, FingerKind::Index),
          (FingerKind::Pinky, FingerKind::Ring),
          (FingerKind::Pinky, FingerKind::Middle),
          (FingerKind::Pinky, FingerKind::Index),
      ].contains(&(lower_finger, upper_finger ))))
    `
    group by "units" as "u8";
  trigram_scissors_alternation on trigram(Scissor)
    where `
      handedness == Handedness::Same || !(units > 1 || (units == 1 && ![
          (FingerKind::Index, FingerKind::Middle),
          (FingerKind::Index, FingerKind::Ring),
          (FingerKind::Middle, FingerKind::Ring),
          (FingerKind::Ring, FingerKind::Middle),
          (FingerKind::Ring, FingerKind::Index),
          (FingerKind::Pinky, FingerKind::Ring),
          (FingerKind::Pinky, FingerKind::Middle),
          (FingerKind::Pinky, FingerKind::Index ),
      ].contains(&(lower_finger, upper_finger ))))
    `
    group by "units" as "u8";
  trigram_lateral_stretches_same_hand on trigram(LateralStretch)
    where "handedness == Handedness::Same"
    group by "finger" as "FingerKind";
  trigram_lateral_stretches_alternation on trigram(LateralStretch)
    where "handedness == Handedness::Alternate"
    group by "finger" as "FingerKind";
  trigram_redirects on trigram(Redirect)
    group by `strength` as "RedirectStrength";
  trigram_roll on trigram(Roll)
    where `length == 3`
    group by `direction` as "RollDirection";
  trigram_roll_bigrams on trigram(Roll)
    where `length == 2`
    group by `direction` as "RollDirection";
  trigram_alternations on trigram(Alternation);
  trigram_others on trigram(Other);
}

stats {
  let left_hand_usage = sum(finger_usage) where "group.hand == Hand::Left";
  let right_hand_usage = sum(finger_usage) where "group.hand == Hand::Right";
  let roll_in = sum(trigram_roll) where `*group == RollDirection::In`;
  let roll_out = sum(trigram_roll) where `*group == RollDirection::Out`;
  let roll_in_bigrams = sum(trigram_roll_bigrams) where `*group == RollDirection::In`;
  let roll_out_bigrams = sum(trigram_roll_bigrams) where `*group == RollDirection::Out`;
  let total_hand_usage = left_hand_usage + right_hand_usage;
  let total_row_usage = sum(row_usage);
  let total_column_usage = sum(column_usage);

  section general {
    total_chars = total_chars;
    effort = percent(effort, total_chars);
    pinky_off_home = percent(pinky_off_home, total_chars);
    finger_usage = normalize(finger_usage, total_hand_usage);
    row_usage = normalize(row_usage, total_row_usage);
    column_usage = normalize(column_usage, total_column_usage);
    left_hand_usage = percent(left_hand_usage, total_hand_usage);
    right_hand_usage = percent(right_hand_usage, total_hand_usage);
  }

  section bigram {
    skips = normalize(bigram_skips, total_chars);
    scissors = normalize(bigram_scissors, total_chars);
    lateral_stretches = normalize(bigram_lateral_stretches, total_chars);
    others = percent(bigram_others, total_chars);
  }

  section trigram {
    skips_same_hand = normalize(trigram_skips_same_hand, total_chars);
    skips_alternation = normalize(trigram_skips_alternation, total_chars);
    scissors_same_hand = normalize(trigram_scissors_same_hand, total_chars);
    scissors_alternation = normalize(trigram_scissors_alternation, total_chars);
    lateral_stretches_same_hand = normalize(trigram_lateral_stretches_same_hand, total_chars);
    lateral_stretches_alternation = normalize(trigram_lateral_stretches_alternation, total_chars);
    redirects = normalize(trigram_redirects, total_chars);
    roll = normalize(trigram_roll, total_chars);
    roll_bigrams = normalize(trigram_roll_bigrams, total_chars);
    roll_ratio = ratio(roll_in, roll_out);
    roll_ratio_bigrams = ratio(roll_in_bigrams, roll_out_bigrams);
    alternations = percent(trigram_alternations, total_chars);
    others = percent(trigram_others, total_chars);
  }
}

targets {
  effort = general.effort;
  pinky_off_home = general.pinky_off_home;
  left_hand_usage = general.left_hand_usage;
  finger_usage = general.finger_usage;
  row_usage = general.row_usage;
  column_usage = general.column_usage;
  bigram_skips = bigram.skips;
  bigram_scissors = bigram.scissors;
  bigram_lateral_stretches = bigram.lateral_stretches;
  trigram_skips_same_hand = trigram.skips_same_hand;
  trigram_skips_alternation = trigram.skips_alternation;
  trigram_scissors_same_hand = trigram.scissors_same_hand;
  trigram_scissors_alternation = trigram.scissors_alternation;
  trigram_lateral_stretches_same_hand = trigram.lateral_stretches_same_hand;
  trigram_lateral_stretches_alternation = trigram.lateral_stretches_alternation;
  trigram_redirects = trigram.redirects;
  trigram_roll_ratio = trigram.roll_ratio;
  trigram_roll_ratio_bigrams = trigram.roll_ratio_bigrams;
  trigram_alternations = trigram.alternations;
}
