// vim:ft=rust:noci

use std::hash::Hash;

use indexmap::IndexMap;
use serde::Deserialize;

use crate::stats::*;

#[allow(unused)]
use crate::layout::*;

#[derive(Deserialize, Clone)]
pub struct Targets {
    {%- for target in targets %}
    pub {{ target.name }}: {{ target.ty | print_target_ty() }},
    {%- endfor %}
}

#[derive(Deserialize, Clone)]
pub struct SingleTarget {
    pub value: f64,
    pub weight: f64,
    pub scale: f64,
}

#[derive(Deserialize, Clone)]
pub struct MapTarget<K: Hash + Eq> {
    pub weight: IndexMap<K, f64>,
    pub scale: IndexMap<K, f64>,
    #[serde(alias = "value")]
    pub values: IndexMap<K, f64>,
}


impl SingleTarget {
    pub fn score(&self, current_value: f64) -> f64 {
        self.weight * ((current_value - self.value).abs() / self.scale)
    }
}

impl<K: Hash + Eq> MapTarget<K> {
    pub fn score(&self, current_values: &IndexMap<K, f64>) -> f64 {
        current_values
            .iter()
            .map(|(k, &v)| {
                let target = self.values.get(k).copied().unwrap_or(0.0);
                let weight = self.weight.get(k).unwrap_or(&0.0);
                let scale = self.scale.get(k).unwrap_or(&1.0);

                weight * ((v - target).abs() / scale)
            })
            .sum()
    }
}

impl Stats {
    pub fn score(&self, targets: &Targets) -> f64 {
        let mut score = 0.0;
        {%- for target in targets %}
        score += targets.{{ target.name }}.score(
            {%- if target.ty == dsl::Ty::Scalar %}
            self.{{ target.source }}
            {%- else %}
            &self.{{ target.source }}
            {%- endif %}
        );
        {%- endfor %}
        score
    }
}

#[cfg(test)]
pub fn default_targets() -> Targets {
    Targets {
        {%- for target in targets %}
        {% if target.ty == dsl::Ty::Scalar %}
        {{ target.name }}: SingleTarget { value: 0.0, weight: 0.0, scale: 1.0 },
        {%- else %}
        {{ target.name }}: MapTarget { weight: IndexMap::new(), scale: IndexMap::new(), values: IndexMap::new() },
        {%- endif %}
        {%- endfor %}
    }
}
