#[derive(Deserialize, Default, Clone)]
pub struct Targets {
    {%- for target in targets %}
    pub {{ target.name }}: Target,
    {%- endfor %}
}

#[derive(Deserialize, Clone)]
pub struct Target {
    pub value: f64,
    pub weight: f64,
    #[serde(default = "default_scale")]
    pub scale: f64,
}

impl Default for Target {
    fn default() -> Self {
        Self {
            value: 0.0,
            weight: 0.0,
            scale: 1.0,
        }
    }
}

fn default_scale() -> f64 {
    1.0
}

impl Target {
    pub fn score(&self, current_value: f64) -> f64 {
        self.weight * ((current_value - self.value).abs() / self.scale)
    }
}

impl Stats {
    pub fn score(&self, targets: &Targets) -> f64 {
        let mut score = 0.0;
        {%- for target in targets %}
        score += targets.{{ target.name }}.score(self.{{ target.source }});
        {%- endfor %}

        score
    }
}
